doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Login"
  body#LOGIN
    section.section-login
      .container
        .logos
        h1.title Love Lodestone
        form.form-login#form-login
          p.form-login__title User name
          input(type="text" id="fname" name="userName" autocomplete="off" class="form-login__input")
          p.form-login__title Password
          input(type="password" id="pass" name="userPassword" class="form-login__input")
          p.error-message
          input(type="submit" value="Login" class="button" class="form-login__button")
          p.link
            a(href="/form/dist/registration.html" class="link__text") Or register in a few clicks