doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Registration"
  body#REGISTRATION
    section.reg-section
      .container
        .logos
        h1.title Love Lodestone
        form#form-register.form-reg
          p.form-reg__title Create user name (login)
          input(type='text' name='name' id="fname" autocomplete="off" class="form-reg__input")
          p.form-reg__title Profile name:
          input(type='text' name='pname' id="lname" autocomplete="off" class="form-reg__input")
          p.form-reg__title Sex:
          input(type='radio' name='gender' value='male' checked id="male" class="radio")
          label(for='male' class="form-reg__radio") Male
            span(class="radio-center")
          input(type='radio' name='gender' value='female' id="female" class="radio")
          label(for='female' class="form-reg__radio") Female
            span(class="radio-center")
          p.form-reg__title Specify age:
          input(type='number' name='age' class="form-reg__input" id="fage")
          p.form-reg__title Phone:
          input(type='tel' name='phone' class="form-reg__input" autocomplete="off" id="phone" )
          p.form-reg__title Password:
          input(type='password' name='pass' class="form-reg__input" id="pwd")
          span.pass-error Pass must contain at least have 1 lowerCase,Uppercase,number
          br
          input(type='submit' value='Create Account' class="form-reg__button")
          p.form-reg__link
            a(href="/form/dist/index.html") Login
