doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Matched Images"
  body#SWIPER
    section.section-swiper
      .container
        .swiper-container
          //- Additional required wrapper
          .swiper-wrapper
          //- buttons
          .swiper-button-prev.swiper-button-white
          .swiper-button-next.swiper-button-white
    section.section-map
      #map
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7Zkwv8ZHein66BAALTpWsJAQorKjiTlw")
    script(id="script-ready")

